if SHIELD_CADOR_LEFT

config ZMK_KEYBOARD_NAME
    default "Cador"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CADOR_LEFT || SHIELD_CADOR_RIGHT

config ZMK_SPLIT
    default y

endif